@import url('https://fonts.googleapis.com/css2?family=Poppins');
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
html, body {
  background: #fff;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 160px 0 160px;
  text-align: center;
  h1 {
    color: #3a4eff;
    font-size: 4rem;
    .ico {
      position: relative;
      top: 5px;
    }
  }
  .nav {
    border-top: 4px solid #3a4eff;
    background: #f2f2f2;
    height: auto;
    width: 88%;
    margin: 10px 0 0 0;
    padding: 10px 10px 10px 10px;
    text-align: left;
    z-index: 9;
    select {
      cursor: pointer;
      outline: none;
      border: 1px solid #2e2e2e;
      border-radius: 6px;
      background: #fff;
      color: #2e2e2e;
      margin: 0 10px 0 10px;
      padding: 10px 10px 10px 10px;
      font-size: 1rem;
    }
    a {
      float: right;
      color: #2e2e2e;
      margin: 0 10px 0 10px;
      font-size: 1.7rem;
      position: relative;
      top: 4px;
      &:hover {
        color: #3a4eff;
      }
    }
  }
  .genPassContainer {
    background: #f9f9f9;
    color: #c6c6cf;
    width: 90%;
    padding: 50px 0 50px 0;
    p {
      color: #2e2e2e;
      font-size: 1.7rem;
      font-weight: bold;
      .down {
        animation: bounce 1s linear infinite;
        color: #2e2e2e;
        margin: 0 0 10px 0;
        font-size: 3rem;
      }
      .star {
        animation: spin 2s linear infinite;
        color: #ffef00;
        position: relative;
        top: 2px;
      }
    }
    input {
      outline: none;
      border: 4px solid #e6e6ef;
      border-radius: 6px;
      background: #fff;
      color: #2e2e2e;
      height: 30px;
      width: 90%;
      margin: 0 0 20px 0;
      padding: 10px 10px 10px 10px;
      font-size: .95rem;
    }
    .btn {
      cursor: pointer;
      outline: none;
      display: inline-block;
      border: none;
      border-radius: 6px;
      background: #3a4eff;
      box-shadow: 0 5px 15px 0 #a6a6af;
      color: #fff;
      margin: 0 10px 0 10px;
      padding: 15px 25px 15px 25px;
      font-size: 1.05rem;
      font-weight: bold;
      text-decoration: none;
      transition: all 250ms ease-in-out 0s;
      &:hover {
        box-shadow: none;
      }
      .ico {
        position: relative;
        top: 2px;
      }
    }
  }
  @keyframes bounce {
    0% {
      position: relative;
      top: 0;
    }
    50% {
      position: relative;
      top: 10px;
    }
    100% {
      position: relative;
      top: 20px;
    }
  }
  @keyframes spin {
    0% {
      transform: none;
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @media screen and (min-width: 200px) and (max-width: 600px){
    h1 {
      font-size: 3rem;
    }
    .nav {
      text-align: center;
      select {
        width: 90%;
        margin: 10px 10px 10px 10px;
      }
    }
    .genPassContainer {
      padding: 10px 0 10px 0;
      span {
        display: none;
      }
      .btn {
        width: 90%;
        margin: 20px 10px 0 10px;
        padding: 15px 25px 15px 25px;
      }
    }
  }
  @media screen and (min-width: 600px) and (max-width: 830px){
    h1 {
      font-size: 3rem;
    }
    .genPassContainer {
      padding: 10px 0 10px 0;
    }
  }
  @media (max-width: 991px){
    margin: 0 10px 0 10px;
    .nav {
      width: 87%;
    }
  }
}